.pics{
    margin-top: 3vw;
    margin-left: 2vw;
    width: 35vw;
    height: 37vw;
    border-left: white;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    position: absolute;
    left: 62vw;
}

.card-body{
    background-color: rgb(54, 54, 56);
}

#msg{
    margin-left: 14vw;
    font-size: 3vw;
}

#msgblock{
    margin-top: 5vw;
    float: left;
    margin-right: 45vw;
}

.msgbody{
    font-size: 1.5vw;
    margin-left: 5vw;
}

#msgbtn{
    margin-left: 24vw;
    border-radius: 2.5vw;
    font-size: 1.3vw;
    width: 15vw;
    height: 3.5vw;
}

a[routerLink]{
    color: white;
}

a[routerLink]:hover{
    text-decoration: none;
}

#footer{
    position: relative;
    top: 8vw;
}

#mobileView{
    display: none;
}

#mobileFooter{
    display: none;
}

@media only screen and (max-width: 600px){
    #mobileView{
        display: flex;
        margin-top: 5vw;
    }

    #mobileMsg{
        margin-top: 13vw;
        margin-left: 15vw;
        margin-bottom: 12vw;
    }

    .pics{
        display: none;
    }

    #msgblock{
        display: none;
    }

    .imgContainer{
        margin-top: 10vw;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    img{
        width: 55vw;
    }
    
    .mobileMsgBody{
        font-size: 3.5vw;
        text-align: center;
        margin-left: 8vw;
    }

    #services{
        font-size: 3.5vw;
        margin-left: 8vw;
    }

    #mobileMsgBtn{
        width: 30vw;
        height: 13vw;
        font-size: 3vw;
        margin-top: 15vw;
        margin-left: 35vw;
    }

    app-footer{
        display: none;
    }

    #mobileFooter{
        display: flex;
        margin-top: 15vw;
        margin-left: 5vw;
        font-size: 3vw;
    }

    #sociallinks{
        margin-left: 23vw;
        margin-top: 14vw;
    }

    address span{
        margin-right: 4vw;
    }

    #at{
        margin-left: 35vw;
        margin-top: 15vw;
        font-size: 2vw;
    }
}