<div id="msgblock">
    <h1 id="msg">&lt;Hello, I'm Kofi Gyasi&#47;&gt;</h1><br>
    <p class="msgbody">{{ introMsg }}</p>
    <p class="msgbody">Services I offer:</p>
    <ul class="msgbody">
        <li *ngFor="let item of servicesList">{{ item.name }}</li>
    </ul><br><br>

    <button id="msgbtn" class="msgbody btn btn-lg btn-primary">
        <a routerLink="../Resume">View resume&#768;</a>
    </button>
</div>


<div class="card pics bg-dark">
    <div class="card-body">
        <img class="d-block w-100 rounded-circle" [src]="cardImage" alt="First slide/">
    </div>
</div>


<div class="row" id="mobileView">
    <div class="row imgContainer">
        <div>
            <img class="rounded-circle" [src]="cardImage" alt="First slide/">
        </div>
    </div>

    <div class="row container">
        <h3 id="mobileMsg">&lt;Hello, I'm Kofi Gyasi&#47;&gt;</h3><br>
        <p class="mobileMsgBody">{{ introMsg }}</p>
    <ul id="services" style="margin-top: 10vw;">
        <p>Services I offer:</p>
        <li *ngFor="let item of servicesList">{{ item.name }}</li>
    </ul><br><br>
    </div>

    <button id="mobileMsgBtn" class="btn btn-lg btn-primary">
        <a routerLink="../Resume">View resume&#768;</a>
    </button>
</div>

<phone-footer></phone-footer>

<app-footer id="footer"></app-footer>

