@media only screen and (max-width: 600px){
    #mobileView{
        display: flex;
        margin-top: 5vw;
    }

    #mobileMsg{
        margin-top: 13vw;
        margin-left: 19vw;
        margin-bottom: 12vw;
        font-size: 6.5vw;
    }

    .pics{
        display: none;
    }

    #msgblock{
        display: none;
    }

    .imgContainer{
        margin-top: 10vw;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 1vw;
    }

    img{
        width: 55vw;
    }
    
    .mobileMsgBody{
        font-size: 4vw;
        text-align: center;
        margin-left: 8vw;
    }

    #services{
        font-size: 4vw;
        margin-left: 8vw;
    }

    #mobileMsgBtn{
        width: 30vw;
        height: 13vw;
        font-size: 3vw;
        margin-top: 15vw;
        margin-left: 35vw;
    }

    app-footer{
        display: none;
    }

    #mobileFooter{
        display: flex;
        margin-top: 20vw;
        margin-left: 5vw;
        font-size: 3.5vw;
    }

    #sociallinks{
        margin-left: 23vw;
        margin-top: 14vw;
    }

    address span{
        margin-right: 4vw;
    }

    #at{
        margin-left: 35vw;
        margin-top: 15vw;
        font-size: 2vw;
    }
}