.card{
    height: 50vw;
}

.margin{
    height: 0vw;
    margin-left: 5vw;
    margin-top: 2vw;
    font-size: 1.2vw;
}

#footerInter{
    position: relative;
    top: 20vw;
}

#send{
    color: black;
}

.form-control{
    width: 35vw;
    height: 3vw;
}

input{
    font-size: 1.1vw;
}

select{
    font-size: 1.1vw;
}

#textarea{
    height: 10vw;
}

#header{
    font-size: 3vw;
    text-align: center;
    text-decoration: underline;
}

#text{
    display: flex;
    justify-content: justify;
    font-size: 2vw;
    margin-top: 8vw;
}

#submit{
    color:white; 
    font-size: 1.2vw;
}

phone-footer{
    display: none;
}

@media only screen and (max-width: 600px){
    .eager{
        display: none;
    }

    app-footer{
        display: none;
    }

    #header{
        font-size: 7vw;
        margin-top: 10vw;
    }

    input{
        font-size: 3.5vw;
    }

    label{
        font-size: 3vw;
        margin-left: 4vw;
    }

    .form-control{
        width: 65vw;
        height: 7vw;
        margin-left: 4vw;
    }

    small{
        font-size: 2vw;
        margin-left: 4vw;
    }

    select{
        font-size: 3vw;
    }

    #textarea{
        height: 20vw;
    }

    #submit{
        font-size: 3vw;
    }

    phone-footer{
        display: flex;
        margin-top: 130vw;
    }
}