.info{
    width: 30vw;
    margin-top: 4vw;
    margin-bottom: 2vw;
    float: left;
    margin-left: 12vw;
    font-size: 1.2vw;
}

phone-footer{
    display: none;
}

@media only screen and (max-width: 600px){
    .desk{
        display: none;
    }

    .info{
        float: none;
        width: 75vw;
        font-size: 3vw;
        margin-left: 8vw;
        margin-top: 15vw;
    }

    phone-footer{
        display: flex;
    }
}

