<!-- <div class="container-fluid">
  <header>
    <div class="row head mb-4"><b>MY RESUME&#768;</b></div>
  </header>

  <div class="row topics"><u><b>Profile</b></u></div>

  <div class="row mb-5 profile">
    My name is Kofi Gyasi. Currently I am a 3rd year Computer Science and Engineering student of the University of Mines and
    Technology (UMaT) in Tarkwa, Ghana.<br>
    I am a passionate software engineer specialising in .NET technologies and Angular. I am always looking to improve
    and get better at what I do and love.
    I hope to share my passion and skills with you.
  </div>

  <div class="topics row"><u><b>Education</b></u></div>

  <div class="row profile">
    <dl>
      <dt><abbr title="University of Mines and Technology">UMaT</abbr> [2019- ]</dt>
      <dd>
        Currently offering Computer Science and Engineering degree in this institution.
        Being here I get the chance to interact with amazing lecturers and mates who
        are equally passionate about software development.
      </dd><br>

      <dt>Mfantsipim School [2015-2018]</dt>
      <dd>
        I offered General Science with biology in this prestigious institution.
        I also served as a Grounds Prefect in my last year which says something about
        my leadership skills.
      </dd>
    </dl>
  </div>

  <div class="topics row"><u><b>Professional Experience</b></u></div>

  <div class="row mb-5 profile">
    <li>Nothing to show yet</li>
  </div>

  <div class="row topics"><u><b>Skills</b></u></div>

  <div class="row mb-3 profile pt-3">
    <div class="col-4 col-lg-2">
      C# / .NET
    </div>

    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 70%;">70%</div>
    </div>
  </div>

  <div class="row mb-3 profile">
    <div class="col-4 col-lg-2">
      Angular
    </div>

    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 70%;">70%</div>
    </div>
  </div>

  <div class="row mb-3 profile">
    <div class="col-4 col-lg-2">
      SQL Server
    </div>

    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 85%;">85%</div>
    </div>
  </div>

  <div class="row mb-3 profile">
    <div class="col-4 col-lg-2">
      MongoDB
    </div>

    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 70%;">70%</div>
    </div>
  </div>

  <div class="row mb-3 profile">
    <div class="col-4 col-lg-2">
      Data Analysis
    </div>

    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 90%;">90%</div>
    </div>
  </div>

  <div class="row mb-3 profile last">
    <div class="col-4 col-lg-2">
      Python
    </div>

    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 60%;">60%</div>
    </div>
  </div>

   <div class="row m-auto">
    <a href="/src/assets/KOFI GYASI.docx" download="Kofi Gyasi" target="_blank">Download resume</a>
  </div> -->
<!-- </div> -->

<!-- <app-footer></app-footer>

<phone-footer></phone-footer>
 -->
