<div class="container-fluid">
  <header>
    <div class="row head mb-4"><b>MY RESUME&#768;</b></div>
  </header>

  <div class="row topics"><u><b>Professional Summary</b></u></div>
  <div class="row mb-3 profile">
    I am a software developer who specializes in C# and the .NET technologies.
    I possess great enthusiasm to learn and get better at what I do and thus I am a great listener and student.
    I approach every problem and project with great consideration for usability and future maintenance and
    sustainability. Currently I am working with QFace Group Ghana to build an industrial management web
    application for businesses.
  </div>

  <div class="topics row"><u><b>Skills and Interests</b></u></div>
  <div class="row mb-3 profile">
    <ul>
      <li>Programming languages: C#/.NET, Python, Typescript, Javascript</li>
      <li>Worked with: C#, ASP.Net, Python,  SQL Server, MongoDB, Visual Studio, VSCode</li>
      <li>Frameworks and Tools:  ASP.NET MVC  and Blazor(Server and WASM), Identity Server, Angular, Docker</li>
      <li>Fluent in: English, Fante and Twi</li>
    </ul>
  </div>

  <div class="topics row"><u><b>Work Experience</b></u></div>
  <div class="row mb-3 profile">
    <ol>
      <li><b>QFace Group Ghana</b> (.NET Developer)
        <ul>
          <li>Built complex databases on SQL Server with .Net Code First approach.</li>
          <li>Built RESTful APIs with mediator and the CQRS architecture.</li>
          <li>Built and worked with MongoDb databases.</li>
          <li>Built user interfaces and services to consume API endpoints with technologies like
            Blazor Server and WebAssembly, Angular and ASP.NET MVC.</li>
            <li>Wrote unit and integration tests with C# and Xunit and Nunit frameworks.
            </li>
        </ul>
      </li>
    </ol>

  </div>


  <div class="topics row"><u><b>Education</b></u></div>
  <div class="row profile">
    <dl>
      <dt><abbr title="University of Mines and Technology">UMaT</abbr> [2019- ]</dt>
      <dd>
        Currently offering Computer Science and Engineering degree in this institution.
        Being here I get the chance to interact with amazing lecturers and mates who
        are equally passionate about software development.
      </dd>
      <dt>Mfantsipim School [2015-2018]</dt>
      <dd>
        I offered General Science with biology in this prestigious institution.
        I also served as a Grounds Prefect in my last year which says something about
        my leadership skills.
      </dd>
    </dl>
  </div>

  <div class="topics row"><u><b>Projects</b></u></div>
  <div class="row mb-3 profile">
    <ol>
      <li><b>Artisan Management Platform</b>
        <ul>
          <li>Backend uses a SQL Server database, asp.net web api and an identity server for user management.</li>
          <li>Frontend built on blazor wasm and published to azure app service.</li>
          <li>Uses a domain driven design, CQRS architecture</li>
            <li>In production <a href="https://artisan-management-platform.azurewebsites.net/" target="_blank">here</a>
            </li>
        </ul>
      </li>
      <li><b>HostelCrust Pizza and Cake Sales</b>
        <ul>
          <li>Built an SQL Server database using Entity Framework Core and the Code-First approach.</li>
          <li>Built an ASP.Net Web API with Json Web Token (JWT) authentication and authorization features</li>
          <li>Built an Angular frontend and created methods to call the API endpoints for information and deployed it on Vercel.</li>
          <li>Wrote unit tests for all the API action methods and covered all their test cases.</li>
          <li>In production <a href="https://hostelcrust.vercel.app/" target="_blank">here</a>
          </li>
        </ul>
      </li>
    </ol>
  </div>

  <div class="row topics"><u><b>Skills</b></u></div>

  <div class="row mb-3 profile pt-3">
    <div class="col-4 col-lg-2">
      C# / .NET
    </div>

    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 90%;">90%</div>
    </div>
  </div>

  <div class="row mb-3 profile">
    <div class="col-4 col-lg-2">
      Angular
    </div>

    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 70%;">70%</div>
    </div>
  </div>

  <div class="row mb-3 profile">
    <div class="col-4 col-lg-2">
      SQL Server
    </div>

    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 90%;">90%</div>
    </div>
  </div>

  <div class="row mb-3 profile">
    <div class="col-4 col-lg-2">
      MongoDB
    </div>

    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 80%;">80%</div>
    </div>
  </div>

  <div class="row mb-3 profile">
    <div class="col-4 col-lg-2">
      Data Analysis
    </div>

    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 90%;">90%</div>
    </div>
  </div>

  <div class="row mb-3 profile last">
    <div class="col-4 col-lg-2">
      Python
    </div>

    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 70%;">70%</div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<phone-footer></phone-footer>

